<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2019-2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <jmxConfigurator/>

  <appender name="REPORT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint}
        %clr(REPORT){faint} %clr(:){faint} %n%m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
      </pattern>
    </encoder>
  </appender>

  <logger name="REPORT" level="INFO" additivity="false">
    <appender-ref ref="REPORT"/>
  </logger>
</configuration>
