# Ändere den Default (log)
lombok.log.fieldName = LOGGER

# Kennzeichnet generiete Methoden mit @lombok.Generated
lombok.addLombokGeneratedAnnotation = true

# @ConstructorProperties conflicts with the field, that has @JsonProperty.
lombok.anyConstructor.suppressConstructorProperties = true

# Verletzung von @NonNull, liefert normalerweise einen NullPointerException
lombok.nonNull.exceptionType = IllegalArgumentException